html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}

.navbar form {
    padding: 15px;
    display: inline-block;
}

.navbar form label {
    color: #FFF;
    font-weight: 400;
}